In [2]:
!pip install pandas
!pip install sklearn
!pip install numpy

Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-win_amd64.whl (10.7 MB)
     ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
     - -------------------------------------- 0.5/10.7 MB 14.2 MB/s eta 0:00:01
     ------ --------------------------------- 1.6/10.7 MB 21.0 MB/s eta 0:00:01
     ------------ --------------------------- 3.4/10.7 MB 26.9 MB/s eta 0:00:01
     ------------------ --------------------- 4.9/10.7 MB 28.3 MB/s eta 0:00:01
     ------------------------ --------------- 6.5/10.7 MB 29.4 MB/s eta 0:00:01
     ----------------------------- ---------- 7.8/10.7 MB 29.3 MB/s eta 0:00:01
     ---------------------------------- ----- 9.3/10.7 MB 28.2 MB/s eta 0:00:01
     --------------------------------------  10.6/10.7 MB 31.2 MB/s eta 0:00:01
     --------------------------------------  10.6/10.7 MB 31.2 MB/s eta 0:00:01
     --------------------------------------  10.6/10.7 MB 31.2 MB/s eta 0:00:01
     --------------------------------------  10.6/10.7 MB 31.2 MB/s eta 0:00:01
     --------------------------------------- 10.7/10.7 MB 19.2 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     ------------------------------------- 502.3/502.3 kB 15.9 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.3-cp310-cp310-win_amd64.whl (14.8 MB)
     ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
     ---- ----------------------------------- 1.6/14.8 MB 51.9 MB/s eta 0:00:01
     -------- ------------------------------- 3.3/14.8 MB 41.6 MB/s eta 0:00:01
     ------------ --------------------------- 4.7/14.8 MB 33.6 MB/s eta 0:00:01
     ---------------- ----------------------- 6.3/14.8 MB 33.6 MB/s eta 0:00:01
     ---------------------- ----------------- 8.2/14.8 MB 37.8 MB/s eta 0:00:01
     -------------------------- ------------- 9.7/14.8 MB 36.7 MB/s eta 0:00:01
     ----------------------------- --------- 11.3/14.8 MB 34.4 MB/s eta 0:00:01
     -------------------------------- ------ 12.5/14.8 MB 32.7 MB/s eta 0:00:01
     ------------------------------------- - 14.3/14.8 MB 32.8 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------  14.8/14.8 MB 34.6 MB/s eta 0:00:01
     --------------------------------------- 14.8/14.8 MB 16.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sudhir rawat\.conda\envs\python\lib\site-packages (from pandas) (2.8.2)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 20.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\sudhir rawat\.conda\envs\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./Crash_Analysis_data.csv')
df

,X,Y,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,...,train,tree,truck,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB
0,1.569452e+06,5.178103e+06,1,NaN,595000.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Fine,Null
1,1.906804e+06,5.572517e+06,2,NaN,549100.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Fine,Null
2,1.761685e+06,5.436885e+06,3,NaN,568501.0,0.0,NaN,0.0,2.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null
3,1.793380e+06,5.500669e+06,4,NaN,564220.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Urban,1.0,0.0,0.0,Fine,Null
4,1.312310e+06,4.948991e+06,5,NaN,607800.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Fine,Null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814717,1.771279e+06,5.914733e+06,1311937,NaN,521602.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Fine,Null
814718,1.842437e+06,5.923597e+06,1311938,NaN,533000.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Mist or Fog,Null
814719,1.778871e+06,5.876231e+06,1311939,40.0,521131.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Null,Null
814720,1.770733e+06,5.906526e+06,1311940,NaN,523713.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Null,Null
814721,1.799280e+06,5.820687e+06,1311941,NaN,527006.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Open,0.0,NaN,NaN,Fine,Null

In [109]:
df

,X,Y,OBJECTID,advisorySpeed,areaUnitID,bicycle,bridge,bus,carStationWagon,cliffBank,...,train,tree,truck,unknownVehicleType,urban,vanOrUtility,vehicle,waterRiver,weatherA,weatherB
0,1.569452e+06,5.178103e+06,1,NaN,595000.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Fine,Null
1,1.906804e+06,5.572517e+06,2,NaN,549100.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Fine,Null
2,1.761685e+06,5.436885e+06,3,NaN,568501.0,0.0,NaN,0.0,2.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Fine,Null
3,1.793380e+06,5.500669e+06,4,NaN,564220.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Urban,1.0,0.0,0.0,Fine,Null
4,1.312310e+06,4.948991e+06,5,NaN,607800.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Fine,Null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814717,1.771279e+06,5.914733e+06,1311937,NaN,521602.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,Urban,0.0,0.0,0.0,Fine,Null
814718,1.842437e+06,5.923597e+06,1311938,NaN,533000.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Open,0.0,0.0,0.0,Mist or Fog,Null
814719,1.778871e+06,5.876231e+06,1311939,40.0,521131.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,0.0,0.0,Urban,1.0,NaN,NaN,Null,Null
814720,1.770733e+06,5.906526e+06,1311940,NaN,523713.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Urban,0.0,NaN,NaN,Null,Null
814721,1.799280e+06,5.820687e+06,1311941,NaN,527006.0,0.0,NaN,0.0,1.0,NaN,...,NaN,NaN,0.0,0.0,Open,0.0,NaN,NaN,Fine,Null

In [2]:
df = df.drop(columns=['X','Y','OBJECTID','advisorySpeed','crashYear','areaUnitID','bicycle','bridge','bus','carStationWagon','cliffBank','crashDirectionDescription','crashFinancialYear','crashLocation1','crashLocation2','crashRoadSideRoad','crashSHDescription','debris','directionRoleDescription','ditch','fatalCount','fence','flatHill','guardRail','holiday','houseOrBuilding','intersection','kerb','light','meshblockId','minorInjuryCount','moped','motorcycle','NumberOfLanes','objectThrownOrDropped','otherObject','otherVehicleType','overBank','parkedVehicle','pedestrian','phoneBoxEtc','postOrPole','roadCharacter','roadLane','roadSurface','roadworks','schoolBus','seriousInjuryCount','slipOrFlood','speedLimit','strayAnimal','streetLight','suv','taxi','temporarySpeedLimit','tlaId','tlaName','trafficControl','trafficIsland','trafficSign','train','tree','truck','unknownVehicleType','urban','vanOrUtility','vehicle','waterRiver','weatherB'])
df

           crashSeverity                     region     weatherA
0       Non-Injury Crash          Canterbury Region         Fine
1       Non-Injury Crash         Hawke's Bay Region         Fine
2       Non-Injury Crash          Wellington Region         Fine
3       Non-Injury Crash  Manawatū-Whanganui Region         Fine
4            Minor Crash               Otago Region         Fine
...                  ...                        ...          ...
814717  Non-Injury Crash            Auckland Region         Fine
814718  Non-Injury Crash             Waikato Region  Mist or Fog
814719  Non-Injury Crash             Waikato Region         Null
814720  Non-Injury Crash            Auckland Region         Null
814721       Minor Crash             Waikato Region         Fine

[814722 rows x 3 columns]

In [112]:
# pd.set_option('display.max_rows',None)
num_row = df.shape[0]
num_col = df.shape[1]
print(df.isna().sum())
print("Out of",num_row,"rows")

crashSeverity       0
region           3126
weatherA            0
dtype: int64
Out of 814722 rows

In [113]:
df

           crashSeverity                     region     weatherA
0       Non-Injury Crash          Canterbury Region         Fine
1       Non-Injury Crash         Hawke's Bay Region         Fine
2       Non-Injury Crash          Wellington Region         Fine
3       Non-Injury Crash  Manawatū-Whanganui Region         Fine
4            Minor Crash               Otago Region         Fine
...                  ...                        ...          ...
814717  Non-Injury Crash            Auckland Region         Fine
814718  Non-Injury Crash             Waikato Region  Mist or Fog
814719  Non-Injury Crash             Waikato Region         Null
814720  Non-Injury Crash            Auckland Region         Null
814721       Minor Crash             Waikato Region         Fine

[814722 rows x 3 columns]

In [114]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
re = LabelEncoder()
we = LabelEncoder()
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
df['new_int_region'] = re.fit_transform(df['region'])
df.drop("region", axis=1, inplace=True)

df['new_int_weatherA'] = we.fit_transform(df['weatherA'])
df.drop("weatherA", axis=1, inplace=True)

df['new_int_crashSev'] = le.fit_transform(df['crashSeverity'])
df.drop("crashSeverity", axis=1, inplace=True)

df

        new_int_region  new_int_weatherA  new_int_crashSev
0                    2                 0                 2
1                    4                 0                 2
2                   14                 0                 2
3                    5                 0                 2
4                    9                 0                 1
...                ...               ...               ...
814717               0                 0                 2
814718              13                 4                 2
814719              13                 5                 2
814720               0                 5                 2
814721              13                 0                 1

[814722 rows x 3 columns]

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814722 entries, 0 to 814721
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   new_int_region    814722 non-null  int32
 1   new_int_weatherA  814722 non-null  int32
 2   new_int_crashSev  814722 non-null  int32
dtypes: int32(3)
memory usage: 9.3 MB

In [116]:
df.describe()

       new_int_region  new_int_weatherA  new_int_crashSev
count   814722.000000     814722.000000     814722.000000
mean         5.218848          0.696612          1.806204
std          5.453843          1.343777          0.537157
min          0.000000          0.000000          0.000000
25%          0.000000          0.000000          2.000000
50%          2.000000          0.000000          2.000000
75%         10.000000          0.000000          2.000000
max         16.000000          6.000000          3.000000

In [117]:
df.corr()

                  new_int_region  new_int_weatherA  new_int_crashSev
new_int_region          1.000000          0.024368         -0.011859
new_int_weatherA        0.024368          1.000000          0.015614
new_int_crashSev       -0.011859          0.015614          1.000000

In [118]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score
import numpy as np

In [119]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score
import numpy as np

X = df[['new_int_region', 'new_int_weatherA']]
y = df['new_int_crashSev']
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Train the model using the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

rmse = np.sqrt(mse)
print("RMSE:", rmse)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

#Mean Squared Error (MSE) is a commonly used metric to evaluate the performance of regression models.
# It measures the average squared difference between the predicted values and the actual values of the target variable.
# A lower MSE value indicates a better fit of the model to the data, as it means the predicted values are closer 
# to the actual values. MSE has the advantage of penalizing larger errors more compared to metrics like Mean Absolute Error (MAE) since it squares the differences.

# Coefficients refer to the values that represent the relationship between the predictor 
# variables (also known as independent variables or features) and the target variable (also known as the dependent variable or response). 
# These coefficients are often referred to as regression coefficients or regression parameters.

# Intercept (often denoted as β₀ or b₀) represents the value of the dependent variable 
# (also known as the target variable or response) when all predictor variables (independent variables or features) are zero.

Mean Squared Error: 0.2886344896839795
RMSE: 0.5372471402287586
R-squared: 0.0003185420961748786

In [121]:
# Make predictions on new data Weather 'Mist or Fog' and Region AUCKLAND
new_data = {
    'new_int_region': [14],
    'new_int_weatherA': [5]
}

new_df = pd.DataFrame(new_data)

new_X = new_df[['new_int_region', 'new_int_weatherA']]

predictions = model.predict(new_X)

print("Predictions:", predictions)

le.inverse_transform(predictions.astype(int))

Predictions: [1.82246399]

array(['Minor Crash'], dtype=object)